.form-body__container {
    display: flex; 
    justify-content: center; 
    width:100vw;
    height: 100%;
}
.form-body__inputs-container {
    margin-top: 100px;
    width: 617px;
    height: 739px;
    background: #FFFFFF;
    border-radius: 20px;
}
